body,
html {
  background-color: #23232f;
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
}

body {
  padding: 16px;
  line-height: 24px;
  font-size: 18px;
}

header {
  margin-bottom: 40px;
  padding-top: 10px;
}

.contents,
.title,
header {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.title h2 {
  margin-bottom: 6px;
}

.title .metadata {
  padding-left: 28px;
  color: rgba(255, 255, 255, 0.5);
}

.title {
  margin-bottom: 36px;
}

header a {
  color: white;
  text-decoration: none;
  padding: 2px 8px;
  border: 4px solid white;
  font-style: normal;
}

code {
  border-radius: 4px;
}

a {
  color: white;
  font-style: italic;
}

a:hover {
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0em 0em 0.7em;
}

p {
  margin-top: 0px;
}

p:not(:last-child),
ul {
  margin-bottom: 30px;
}

li {
  margin-bottom: 8px;
}

code {
  padding: 1px 4px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.18);
}
