<head>
  <meta name="description" content="My Notes" />
  <link rel="stylesheet" type="text/css" href="/style/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/style/solarized-light.css" />
  <link rel="stylesheet" type="text/css" href="/style/styles.css" />


  <script src="/js/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</head>

<html>

<body>
  <header>
    <h1><a href="/pages/index.html">Circuit8</a></h1>
  </header>
  <div class="contents">
    {{{ content }}}
  </div>
</body>

</html>